// %btn {
//   border: 1px solid tomato;
//   background-color: tomato;
//   padding: 0.8em 1.6em;
//   font-size: 17px;
//   cursor: pointer;
// }
// %btn:hover {
//   background-color: darken(tomato, 10);
// }
.btn--primary {
  //panaudoti mixin
  @extend %btn;
}
.btn--secondary {
  @extend %btn;
  border-color: darkgreen;
  background-color: darkgreen;
  color: white;
}
.btn--secondary:hover {
  background-color: darken($color: darkgreen, $amount: 10);
}
