// sass kintamieji
$primary: tomato;
$fontLarge: 50px;

body {
  background-color: transparentize($primary, 0.6);
  h1 {
    font-size: $fontLarge;
    font-weight: normal;
    color: $primary;
  }
}
