@import "reset";

// sass kintamieji
$primary: tomato;
$fontLarge: 50px;

body {
  background-color: transparentize($primary, 0.6);
  h1 {
    font-size: $fontLarge;
    font-weight: normal;
    color: $primary;
  }
}
%btn {
  border: 1px solid tomato;
  background-color: tomato;
  padding: 0.8em 1.6em;
  font-size: 17px;
  cursor: pointer;
}
%btn:hover {
  background-color: darken(tomato, 10);
}
.btn--primary {
  //ikelti visas taisykles is %btn
  @extend %btn;
}
.btn--secondary {
  @extend %btn;
  border-color: darkgreen;
  background-color: darkgreen;
  color: white;
}
.btn--secondary:hover {
  background-color: darken($color: darkgreen, $amount: 10);
}

// CARD
.card {
  &:hover {
    box-shadow: 5px 5px 15px gray;
  }
  &__image {
    display: block;
  }
  max-width: 250px;
  &__body {
    background-color: white;
    padding: 1rem 1.5rem;
  }
  &__title {
    font-weight: 600;
  }
  &__text {
    color: #333;
    line-height: 1.5;
  }
}
// &:hover {
//   box-shadow: 5px 5px 15px gray;
// }
